.Project {
	
	background-color: black;
	background-image: url(../img/bg.jpg);
	padding-top:60px;
	}

.PageDetails {
	color: white;
	text-align: center;
}

.PageDetails .jumbotron h3{
	color: black;
	text-align: left;
	font-size: 28.75px;
}

.PageDetails .jumbotron p{
	color: black;
	text-align: left;
	font-size: 18px;
}

.PageDetails .jumbotron{
	color: black;
	text-align: left;
	background-color: gray;
}

.well {
	background-color: gray;
	color: black;
	text-align: left
}

.col-md-12 .well p {
	font-size: 18px;
}